.App {
    height: 100vh;
    width: 100vw;
    // background-color: $darkjunglegreen;
    background-image: linear-gradient(to left top, #041f1e, #042926, #05332e, #083d35, #0d483c);
    // background-color: $blackfogra39;
    // background-image: linear-gradient(to right top, #87f6ff, #72e6ff, #67d5ff, #68c4fa, #72b1f2);
    // background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    // background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    // background-color: black ;
    display: flex;
    align-items: center;
    z-index: -10;
}

// background-color: $oldburgundy;
// background-color: $smokyblack;
// background-color: $blackcoffee;
// background-color: $eerieblack;