// https://colorpalette.org/urban-area-sky-city-color-palette/

$sienna: #a8462e;
$roseebony: #613b34;
$wheat: #f1d9bb;
$peru: #d08346;
$rosybrown: #bd8c66;
$darkslategray-1: #2c3840;
$darkslategray-2: #1f2935;
$darkslategray-3: #334756;
$darkslategray-4: #3c5867;
$dimgray: #6c6b6a;
$ivory: #fbfaeb;
$oldburgundy: #34201b;

$outrageousorange: #FA7E61;
$dodgerblue: #1789FC;
$darkgreen: #002500;
$forestgreentraditional: #0a3200;
$redpigment: #f13030;
$bluecrayola-1: #2176ff;
$bluecrayola-2: #3772ff;
$marvelous: #f59ca9;
$redRYB: #FF3A20;
$bluepigment: #29339b; 

$amber-sae-ace: #ff7f11ff;

$marigold: #F3A712;
$purered: #fd151b;
$bluepantone: #0D21A1;

$yelloworangecolorwheel: #f79824;
$pumpkin-1: #fe7f2d;
$pumpkin-2: #FC7A1E;

$navyblue: #150578; 

// colors pass:
$dimgray: #6c6b6a;
$ivory: #fbfaeb;
$oldburgundy: #34201b;
$roseebony: #613b34;
$amber-sae-ace: #ff7f11ff;
$marigold: #F3A712;
$purered: #fd151b;
$bluepantone: #0D21A1;
$darkskyblue: #a0c0cd;
$deepspacesprakle: #3c5867;
$charcoal: #334756;
$gunmetal: #1F2935;
$gunmetal-2: #2C3840;