// https://colorpalette.org/metropolitan-area-cityscape-city-color-palette-32/

$steelblue: #2c94c7;
$lightsteelblue: #94becf;
$gray: #908c87;
$lightgray: #e0d9c3;
$dimgray-1: #65615e;
$black: #161b19;
$slategray: #67848b;
$burlywood: #dcb475;
$darkgray: #88a9bf;
$dimgray-2: #556b7f;
$dimgray-3: #4a6067;
$darkslategray: #4a4645;