// https://colorpalette.org/metropolitan-area-cityscape-urban-color-palette/

$midnightblue: #072b4d;
$darkslategray-1: #154664;
$lightgray: #cbc7cb;
$black: #051427;
$lightslategray-1: #929297;
$darkslategray-2: #454f58;
$slategray: #5b7c93;
$lightsteelblue-1: #92a3dd;
$lightslategray-2: #7f8d98;
$lightslategray-3: #6f889b;
$darkslateblue: #345178;
$lightsteelblue-2: #a0c0cd;