// https://colorpalette.org/cityscape-night-city-color-palette-2/

$midnightblue: #082977;
$peru: #ae7c5a;
$darkslateblue: #184daa;
$midnightblue-2: #092054;
$darkslategray: #522e39;
$lightgray: #d3d3d3;
$darkslateblue-2: #4e427a;
$darkolivegreen: #60573c;
$khaki: #e5da5c;
$almostblack: #051536;
$dimgray: #5e6283;
$cadetblue: #5c9b8a;