// https://colorpalette.org/urban-area-sky-city-color-palette/

$sienna: #a8462e;
$darkolivegreen: #613b34;
$wheat: #f1d9bb;
$peru: #d08346;
$rosybrown: #bd8c66;
$darkslategray-1: #2c3840;
$darkslategray-2: #1f2935;
$darkslategray-3: #334756;
$darkslategray-4: #3c5867;
$dimgray: #6c6b6a;
$floralwhite: #fbfaeb;
$black: #34201b;

