// https://colorpalette.org/metropolitan-area-cityscape-city-color-palette-45/

$silver: #b7bccf;
$skyblue: #85afe7;
$slategray: #697d9a;
$cornflowerblue: #7399cd;
$darkslategray-1: #46536c;
$royalblue: #0561cd;
$dimgray: #6c636c;
$darkslategray-2: #18232c;
$gray: #7a7770;
$darkslategray: #484650;
$mediumblue: #0444b7;
$lavender: #ebecee;