// https://colorpalette.org/metropolitan-area-cityscape-urban-color-palette-3/

$chocolate: #bc731c;
$mediumaquamarine: #4bc993;
$bisque: #eee4c6;
$darkslateblue: #24538d;
$saddlebrown: #86551b;
$darkslategray: #3f2714;
$midnightblue: #05164c;
$darkkhaki: #cba572;
$midnightblue-2: #072c6f;
$burlywood: #e7d074;
$dimgray: #51756e;
$saddlebrown-2: #633e13;