$raisinblack: #201f28ff;
$xiketic: #170f11;
$richblackfogra29: #0d1317;

$skobeloff: #096b72ff;
$deeptaupe: #785964;

$bluecrayola: #2176ff;

$yelloworangecolorwheel: #f79824;
$pumpkin: #fe7f2d;
$amber-sae-ace: #ff7f11ff;

$ivory: #f5fbef;
$platinum: #e8e8e8ff;
