// https://szstudiodesign.com/urban-color-palette/

$lightslategray: #878c8f !global;
$slategray: #758592;
$darkslategray: #443635;
$darkslategray-2: #003b4d;
$lightgray: #c6cfd9;
$darkgray: #a9989e;
$darkgray-2: #8c9ebc;
$dimgray: #766e63;
$dimgray-2: #7c7156;
$dimgray-3: #5c4d62;
$midnightblue: #11284d;
$teal: #216091;
$steelblue: #6686b7;
$tan: #d4ca9f;
$gainsboro: #d7dfe1;
$powderblue: #c4d5ed;
$silver: #b9b9b0;
$silver-2: #c4bbb6;