.App-header {
  margin: 0 auto;
  // border: 2px solid lighten($darkjunglegreen, 3%);
  height: 70vh;
  width: 70vw;
  font-size: 1.6rem;
  display: flex;
  // background-color: $darkjunglegreen;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $ivory;
  border-radius: 5px;
  // box-shadow: inset 0px 0px 5px 5px rgba($blackfogra39, 0.6);
}

.box {
  width: 100%;
  height: 100%;
  position: fixed;

  &--logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    z-index: -4;

    // opacity: .2;

    &__middle-middle {
      fill: #00bc71;
    }

    &__left-left {
      fill: #0cce6b;
    }

    &__left-middle {
      fill: #00c56f;
    }

    &__right-middle {
      fill: #00b373;
    }

    &__right-right {
      fill: #00aa74;
    }
  }
}


//background-image: linear-gradient(to right top, #0cce6b, #00c56f, #00bc71, #00b373, #00aa74);